.dashboard-main-content {
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.vehicle-bar-header {
    margin-bottom: 24px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mr-25 {
    margin-right: 0;
}

#map-box {
    height: 600px;
}

@media (max-width: 1200px) {
    .row {
        grid-template-columns: 1fr;
    }
}
