.tabs-box>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list{
    gap: 0.25rem!important;
    padding-inline: 0.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    background: rgba(143, 150, 154, 0.05);
    border-radius: 14px!important;
    border: 1px solid black!important;
    background: #c1c5c7 !important;
}
.ant-tabs-tab{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 12px !important;

}
.ant-tabs-tab.ant-tabs-tab-active{
    color: #3AA1D8 !important;
    border-radius: 12px !important;
}
.tutorial-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
}

.tutorial-box>h2 {
    margin: 0;
}