.planning-container {
    padding: 24px;
}

.text-res h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
}

.tabs-reservation {
    margin-bottom: 24px;
}

.reservation-main-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.no-reservation-content {
    text-align: center;
    color: #999;
    padding: 50px;
    font-size: 16px;
}

.filter-button {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #333;
}

.filter-button.active {
    background: rgba(1, 66, 106, 1);
    color: white;
    border-color: rgba(1, 66, 106, 1);
}

.font-size-14 {
    font-size: 14px;
}

.reservation-driver-name {
    font-weight: 500;
}

.w-300px {
    min-width: 300px;
}

.w-max {
    width: max-content;
}
/*.ant-tabs-nav-list{*/
/*    gap: 0.25rem!important;*/
/*    padding-inline: 0.5rem !important;*/
/*    padding-top: 0.25rem !important;*/
/*    padding-bottom: 0.25rem !important;*/
/*    background: rgba(143, 150, 154, 0.05);*/
/*    border-radius: 14px!important;*/
/*    border: 1px solid black!important;*/
/*    background: #c1c5c7 !important;*/
/*}*/
/*.ant-tabs-tab{*/
/*    font-size: 15px !important;*/
/*    font-weight: 600 !important;*/
/*    padding-left: 30px !important;*/
/*    padding-right: 30px !important;*/
/*    border-radius: 12px !important;*/

/*}*/
/*.ant-tabs-tab.ant-tabs-tab-active{*/
/*    color: #3AA1D8 !important;*/
/*    border-radius: 12px !important;*/
/*}*/