body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .ant-row,
body .ant-col {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: #4D4D4D;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tabs-box>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list{
    gap: 0.25rem!important;
    padding-inline: 0.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    background: rgba(143, 150, 154, 0.05);
    border-radius: 14px!important;
    border: 1px solid black!important;
    background: #c1c5c7 !important;
}
.ant-tabs-tab{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 12px !important;

}
.ant-tabs-tab.ant-tabs-tab-active{
    color: #3AA1D8 !important;
    border-radius: 12px !important;
}
.tabs-box>.ant-tabs-content-holder {
    padding: 10px;
    /*background-color: #fafafa;*/
    margin-bottom: 15px;
}