body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .ant-row,
body .ant-col {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: #4D4D4D;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}