.settings-container {
    padding: 24px;
    background-color: #fff;
    min-height: 100%;
}

.tabs-box {
    width: 100%;
}

.tabs-box .ant-tabs-nav {
    margin-bottom: 24px;
}

/*.tabs-box .ant-tabs-tab {*/
/*    font-size: 16px;*/
/*    font-weight: 500;*/
/*    padding: 12px 24px;*/
/*}*/

/*.tabs-box .ant-tabs-tab-active {*/
/*    background-color: #f5f5f5;*/
/*    border-radius: 8px 8px 0 0;*/
/*}*/

/*.tabs-box>.ant-tabs-content {*/
/*    padding: 20px;*/
/*    !*background-color: #fafafa;*!*/
/*    margin-bottom: 15px;*/
/*}*/

.setting-section {
    margin-bottom: 32px;
}

.setting-section h3 {
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    margin-bottom: 16px;
}

.setting-item {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.setting-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.setting-item-title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.setting-item-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

/*.ant-tabs-nav-list{*/
/*    gap: 0.25rem!important;*/
/*    padding-inline: 0.5rem !important;*/
/*    padding-top: 0.25rem !important;*/
/*    padding-bottom: 0.25rem !important;*/
/*    background: rgba(143, 150, 154, 0.05);*/
/*    border-radius: 14px!important;*/
/*    border: 1px solid black!important;*/
/*    background: #c1c5c7 !important;*/
/*}*/
/*.ant-tabs-tab{*/
/*    font-size: 15px !important;*/
/*    font-weight: 600 !important;*/
/*    padding-left: 30px !important;*/
/*    padding-right: 30px !important;*/
/*    border-radius: 12px !important;*/

/*}*/
/*.ant-tabs-tab.ant-tabs-tab-active{*/
/*    color: #3AA1D8 !important;*/
/*    border-radius: 12px !important;*/
/*}*/
.parking-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.parking-form .ant-input-disabled {
    color: #4D4D4D;
    background-color: white;
}

@media screen and (max-width: 512px) {
    .parking-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }
}