.status-badge {
    display: flex;
    align-items: center;
    /*gap: 8px;*/
    /*padding: 8px 12px;*/
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 74px;
    height: 40px;
}

.status-badge:hover {
    background-color: rgba(57, 161, 216, 0.1);
}

.status-badge.linked {
    cursor: pointer;
}

.status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icon img {
    width: auto;
    height: 24px;
}

.status-number {
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
}

.tooltip-text {
    color: #333;
    font-size: 12px;
}

.position-relative {
    position: relative;
}
